<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="VERSION">

<dict>

    <key>Label</key>

    <string>PACKAGE</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/bash</string>
        <string>HOME/.bin/check_vpn_status/run_vpn_check.sh</string>
    </array>

    <key>KeepAlive</key>

    <true/>

</dict>

</plist>
